<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{org.name}} Page </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .content {padding-top: 80px;}
      .bg-1 {background-color: #ffe6ff;}
      .c{color:#99ffff;}
    </style>
  </head>
  <body class=" bg-1">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h2 class="c">
            {{org.name}} Page 
          </h2>
        </div>
        <div class="navbar-collapse">
          <ul class="nav nav-pills navbar-nav navbar-right " style="margin-top:20px">
           </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="content">
        <div class="table-striped">
       <table class="table">
         <thead>
            <tr>
              <th>VoteBox Name</th>
           </tr>
          </thead>
          <tbody>
        {% for box in org.votebox_list %}
         
        <tr>
          <td>
            <a href="{{url_for('showResults',id=box.name)}}" style="color:#b300b3">
            {{box.name}}</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
       </table>
     </div>
      </div>
   
    </div>
  </body>
</html>
