{% extends "creatorLogin/base.html" %}
{% block page_content %}
	<div class="col-md-3" style="margin-bottom:20px">
		{{ wtf.quick_form(form) }}
	</div>
	<div>
		<p style="clear:both;">If you dont have a account, <a href="{{ url_for('creator.signup') }}">click here to signup</a></p>
	</div>
{% endblock%}